@import url('https://fonts.googleapis.com/css?family=Parisienne&display=swap');
/* * {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 list-style: none;
 text-decoration: none;
  font-family: 'Parisienne', ;
}
.wrapper {
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  position: fixed;
  width: 300px;
  height: 100%;
  background: #fff;
  padding: 70px 0;
}

.wrapper .sidebar h2{
  color: black;
  text-align: center;
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: lighter;
  font-family: 'Parisienne',sans-serif !important;
}

.wrapper .sidebar ul li {
  padding: 14px 55px;
  text-align: center;
}

.wrapper .sidebar ul li a{
  color: #bdb8d7;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
  
}

.wrapper .sidebar ul li:hover{
  background: #7d7a8a;
  cursor: pointer;
  transition: all 0.55s ease-in-out ;
}
.wrapper .sidebar ul li:hover a{
  color: #fff;
}

.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.wrapper .sidebar .social_media h1{
  position: absolute;
  margin-top: 60px;
   font-size: 13px;
   left: 10%;
   text-align: center;
   font-weight: normal;
   font-family: sans-serif;
}

.wrapper .sidebar .social_media li.twitter a{
  display: block;
  width: 40px;
  color: #00aced;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  transition: all 0.75s !important;
}

.wrapper .sidebar .social_media li.twitter a:hover{
  transition: all 0.55s ease-in-out !important;
  background: #c7e5f0;
}

.wrapper .sidebar .social_media li.instagram a{
  display: block;
  width: 40px;
  color:#517fa4;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  transition: all 0.75s !important;
}

.wrapper .sidebar .social_media li.instagram a:hover{
  transition: all 0.55s ease-in-out !important;
  background: #a7bac9;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 150px;
}

.wrapper .main_content .header{
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info{
  margin-top: 55px;
  margin-left: 120px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div{
  margin-bottom: 200px;
}
 .sidebar .copyright h1{
  border-bottom: 50px;
  font-size: 12px;
  text-align: center;
} */

/**********Image Gallery***********/
/* .main_content .info .gallery {
  margin: 10px 50px;
} 

.main_content .info .gallery img{
  width: 600px;
  height: 350px;
  padding: 10px;
  padding-right: 20px;
  transition: 0.5s;
  border-radius: 1.3pc !important;
  border-radius: 20px;
}

.main_content .info .gallery img:hover{
  transform: scale(1.07);
  filter: grayscale(40%);
}

hr.style1{
  border-top: 1px solid #c0bcbc;
  border-right: 20px;
} */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
   font-family: 'Parisienne', ;
 }
hr {
  border-top: 0.01px solid rgb(182, 170, 170) !important;
  border-left: 1850px !important;
  width: 95%;

}
 body{
   background: #e7f1ff !important;
   font-size: 14px;
   letter-spacing: 1px;
 }
 .wrapper {
   display: flex;
   width: 100%;
 }
 .sidebar{
   position: relative;
 }

 .sidebar .bg_shadow{
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   background: #000;
   opacity: 0;
   transition: all 0.3s ease;
   visibility: hidden;
   z-index: 998;
 }

 .sidebar_inner{
   width: 350px;
   position: fixed;
   top: 0;
   left: 0;
   background: #fff;
   z-index: 999;
   height: 100vh;
   transition: all 0.3s ease;
 }
 .main_container{
   margin-left: 350px;
   width: calc(100% - 250px);
   transition: all 0.3s ease;
 }
 .sidebar_inner .sidebar_menu{
   height: 490px;

 }

 .wrapper .sidebar h2{
  color: black;
  text-align: center;
  margin-bottom: 30px;
  font-size: 50px;
  margin-top: 50px;
  font-weight: lighter;
  font-family: 'Parisienne',sans-serif !important;
}

.sidebar_inner .sidebar_menu > li > a{
   padding: 15px 40px;
   padding-left: 150px;
   color: #c4dcff;
   display: flex;
   align-items: center;
   position: relative;
   margin-bottom: 1px;
   top: 50px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sidebar_inner .sidebar_menu > li > a:hover,
.sidebar_inner .sidebar_menu > li.active > a{
   background: #3d3d79;
   color: #fff;
}

.sidebar_inner .close{
  position: absolute !important;
  top: 5px;
  right: 15px;
  color: red;
  font-size: 25px;
  cursor: pointer;
  display: none;
}
.sidebar_inner .close:hover,
.navbar .hamburger:hover{
  opacity: 0.7;
}

.navbar{
  background: #fff;
  height: 100px;
  width: 100%;
  box-shadow: 0 3px 5px rgba(0,0,0,0.125);
  display: flex;
  align-items: center;
  padding: 0 20px;
  display: none;
}

.navbar .hamburger{
  font-size: 25px;
  cursor: pointer;
  color: yellow;
  margin-right: 20px;
  margin-left: 350px;
  margin-top: 70px;
  display: none;
}
.navbar .logo {
  margin-top: -20px;
}

.navbar .logo a{
  color: black;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Parisienne',sans-serif !important;

}

.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.wrapper .sidebar .social_media h1{
  position: absolute;
  margin-top: 60px;
   font-size: 11px;
   left: 10%;
   text-align: center;
   font-weight: normal;
   font-family: sans-serif;
}

.wrapper .sidebar .social_media li.twitter a{
  display: block;
  width: 40px;
  color: #00aced;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  transition: all 0.75s !important;
}

.wrapper .sidebar .social_media li.twitter a:hover{
  transition: all 0.55s ease-in-out !important;
  background: #c7e5f0;
}

.wrapper .sidebar .social_media li.instagram a{
  display: block;
  width: 40px;
  color:#517fa4;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  transition: all 0.75s !important;
}

.wrapper .sidebar .social_media li.instagram a:hover{
  transition: all 0.55s ease-in-out !important;
  background: #a7bac9;
}

/*****Media Queries*********/

@media (max-width: 1024px) {
  .sidebar_inner{
    left: -315%;
    transition: all 0.3s ease;
    width: 500px;
  }
  .navbar .logo {
    margin-top: -10px;
    margin-left: 10px;
   
  }
  .main_container{
    width: 100%;
    margin-left: 0;
  }
  .sidebar_inner .close{
      display: block;
      margin-left: 80px;
 }
  .navbar .hamburger{
       display: block;
       margin-left: 210px;
  }
  .content .item{
    width: 47%;
  }
  .wrapper.active .sidebar_inner{
    left: 0;
  }
  .wrapper.active .bg_shadow{
    visibility: visible;
    opacity: 0.7;
  }
  .navbar{
    background: #fff;
    height: 100px;
    width: 120%;
    box-shadow: 0 3px 5px rgba(0,0,0,0.125);
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  .wrapper .sidebar .social_media{
    position: absolute;
    bottom: 100px;
    left: 36%;
    transform: translateX(-50%);
    display: flex;
  }
  .wrapper .sidebar h2{
    color: black;
    text-align: center;
    margin-bottom: 30px;
    font-size: 50px;
    margin-top: 50px;
    font-weight: lighter;
    margin-left: -120px ;
    font-family: 'Parisienne',sans-serif !important;
  }
 
}

@media (max-width: 528px){
     /**place main content items for phone screen***/
     .content .item{
       width: 100%;
     }
     .navbar .logo {
      margin-top: -10px;
      margin-left: -120px;
    }
    .sidebar_inner .sidebar_menu > li > a{
      padding: 15px 40px;
      padding-left: 150px;
      color: #c4dcff;
      display: flex;
      align-items: center;
      position: relative;
      margin-bottom: 1px;
      top: 50px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
   }
   .sidebar_inner .close{
    display: block;
    margin-left: 80px;
    width: 30%;
}
  
}
  

